@import "tailwindcss";

.position-1 { top: 50px; right: 50px; }
.position-2 { top: 50px; left: 50px; }
.position-3 { bottom: 50px; right: 50px; }
.position-4 { bottom: 50px; left: 50px; }




@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 768px) {
    body {
        flex-direction: column; 
    }

    aside {
        width: 100%;      
        height: auto;     
    }

    .grid {
        grid-template-columns: 1fr; 
    }

    .zone img {
        height: 200px;  
    }

    .add-employee {
        width: 28px;     
        height: 28px;
        font-size: 18px;
    }
}
